<h4> Library Services </h4>  
<nav class="navbar justify-content-center">
    <ul class="nav">
        <li class="nav-item btn btn-danger"><a routerLink="/add-component" class="nav-link active"> Add Book</a></li>
        <li class="nav-item btn btn-danger"><a routerLink="/delete-component" class="nav-link active"> Delete Book</a></li>
        <li class="nav-item btn btn-danger"><a routerLink="/update-component" class="nav-link active"> Update Record</a></li>
        <li class="nav-item btn btn-danger"><a routerLink="/fetch-component" class="nav-link active"> View Records</a></li>
    </ul>
    
</nav>
<router-outlet></router-outlet>