<div align="center">
    <h2 align="center"> Sign Up </h2>
    </div>
          <br><br>
    <div class="d-flex justify-content-center align-items-center">
          <img src="assets/images/signup.jpeg" width="450px" height="450px" alt="" class="m-3 bgimg">
          <div style="background-color: rgb(242, 242, 242);" class="m-3 p-4 addform">
            <form class="mx-auto row">
                <div class="form-group col-12">
                    <label class="form-label"> Full name : </label>
                    <input type="text" class="form-control" autocomplete="off" required>
                    </div> <br>
                    <div class="form-group col-12">
                        <label class="form-label"> Contact : </label>
                        <input type="text" class="form-control" autocomplete="off" required>
                        </div> <br>
              <div class="form-group col-12">
              <label class="form-label"> Email Address : </label>
              <input type="email" class="form-control" autocomplete="off" required>
              </div> <br>
              <div class="form-group col-6">
              <label class="form-label"> Password : </label>
              <input type="password" class="form-control" maxlength="8" required>
              </div><br>
              <div class="form-group col-6">
                <label class="form-label"> Confirm Password : </label>
                <input type="password" class="form-control" maxlength="8" required>
                </div><br>
              <div class="form-group col-12 mt-3">
                <input type="submit" value="Submit" class="btn btn-dark">
              </div>
            </form>
          </div>
    </div>
