<div class="mt-5">
    <div class="card mb-3 mx-auto" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/login.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">It all Started with...</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat modi nisi
                        explicabo excepturi ducimus laborum fugit omnis beatae molestiae laboriosam, eos doloremque
                        consequatur ratione cupiditate soluta non dolore a! Odio, explicabo quaerat eum velit similique
                        necessitatibus eius doloremque facilis nesciunt, voluptas dolorem atque in ex tenetur expedita. Rem
                        expedita unde perspiciatis dignissimos nisi omnis quasi iure sit deleniti consequuntur officiis
                        cumque sed esse quibusdam non aliquid mollitia ut nulla enim ipsa minus, saepe ullam voluptatum
                        dolores! Atque dolores incidunt eius enim necessitatibus sed modi magni nesciunt? Magni aut
                        distinctio voluptatum ducimus, animi expedita, non nesciunt harum minus, dolores unde reprehenderit.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-auto" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">And that's how it's going...</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat modi nisi
                        explicabo excepturi ducimus laborum fugit omnis beatae molestiae laboriosam, eos doloremque
                        consequatur ratione cupiditate soluta non dolore a! Odio, explicabo quaerat eum velit similique
                        necessitatibus eius doloremque facilis nesciunt, voluptas dolorem atque in ex tenetur expedita. Rem
                        expedita unde perspiciatis dignissimos nisi omnis quasi iure sit deleniti consequuntur officiis
                        cumque sed esse quibusdam non aliquid mollitia ut nulla enim ipsa minus, saepe ullam voluptatum
                        dolores! Atque dolores incidunt eius enim necessitatibus sed modi magni nesciunt? Magni aut
                        distinctio voluptatum ducimus, animi expedita, non nesciunt harum minus, dolores unde reprehenderit.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/images/login.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-auto" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/login.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Achievements...</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium expedita
                        voluptate porro obcaecati est quam officia itaque minima id asperiores saepe neque natus, rem quos
                        blanditiis architecto deleniti numquam. Odit, quisquam tenetur quam officia aliquid laboriosam
                        facilis incidunt deserunt accusamus dignissimos officiis vero ullam, obcaecati atque nesciunt
                        necessitatibus, consectetur nulla. Vitae sunt delectus nobis, aliquid eaque quae hic maiores
                        inventore tempore tenetur rem eligendi optio temporibus eveniet necessitatibus perferendis? Dolor
                        impedit nesciunt suscipit quae, officiis adipisci minima repellat commodi sit laboriosam pariatur,
                        saepe, officia quos omnis consectetur quidem asperiores rerum quasi. Molestias corporis ducimus
                        incidunt voluptates cumque, explicabo nam quod.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-auto" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Awards...</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat modi nisi
                        explicabo excepturi ducimus laborum fugit omnis beatae molestiae laboriosam, eos doloremque
                        consequatur ratione cupiditate soluta non dolore a! Odio, explicabo quaerat eum velit similique
                        necessitatibus eius doloremque facilis nesciunt, voluptas dolorem atque in ex tenetur expedita. Rem
                        expedita unde perspiciatis dignissimos nisi omnis quasi iure sit deleniti consequuntur officiis
                        cumque sed esse quibusdam non aliquid mollitia ut nulla enim ipsa minus, saepe ullam voluptatum
                        dolores! Atque dolores incidunt eius enim necessitatibus sed modi magni nesciunt? Magni aut
                        distinctio voluptatum ducimus, animi expedita, non nesciunt harum minus, dolores unde reprehenderit.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/images/login.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>
